<div>
  <!-- Page Header -->
  <app-header></app-header>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p>
          我一直從事的都是網頁開發的工作，也就是Web
          Develper，一開始是從後端起家，最先接觸的是.Net，C#及VB.net都有使用過，這幾年開始偏向前端，對JavaScript感興趣，隨著Node.js的推出，之後Angular及vue.js的出現，漸漸地前後端都是使用JavaScript開發。
        </p>
        <p>
          本Blog主要會寫一些程式的學習筆記及開發經驗談。
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <app-skill-tree></app-skill-tree>
      </div>
    </div>
  </div>
</div>
