<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" [routerLink]="['/']">
        <!-- <img src="../images/bulma.png" alt="Logo" /> -->
        Thomas Blog
      </a>
      <span class="navbar-burger burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="control has-icons-left">
            <!-- <input class="input is-rounded" type="email" placeholder="Search" />
            <span class="icon is-left">
              <i class="fa fa-search"></i>
            </span> -->
          </div>
        </div>

        <a class="navbar-item is-size-5 has-text-weight-semibold" [routerLink]="['/']"> Blog </a>
        <a
          class="navbar-item is-size-5 has-text-weight-semibold"
          href="https://thomascsd.github.io/repos/"
          target="_blank"
        >
          Repos
        </a>
        <a class="navbar-item is-size-5 has-text-weight-semibold" [routerLink]="['/about']">
          About
        </a>
      </div>
    </div>
  </div>
</nav>
