<article class="blog-post px-3 py-5 p-md-5">
  <div class="container">
    <header class="blog-post-header">
      <h2 class="title mb-2">{{ title }}</h2>
      <div class="meta mb-3">
        <span class="date">{{ publishedDate }}</span>
      </div>
    </header>

    <div class="blog-post-body">
      <figure class="blog-banner">
        <img class="img-fluid" src="{{ bgImageUrl }}" alt="image" />
        <figcaption class="mt-2 text-center image-caption">
          Image Credit:
          <a href="https://unsplash.com/" target="_blank">unsplash</a>
        </figcaption>
      </figure>
      <scully-content></scully-content>
    </div>

    <div class="blog-comments-section"></div>
    <!--//blog-comments-section-->
  </div>
  <!--//container-->
</article>

<div>
  <!-- Page Header -->
  <app-post-header
    [title]="post.title"
    [postDate]="post.date"
    [bgImageUrl]="post.bgImageUrl"
  ></app-post-header>

  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <scully-content></scully-content>
        </div>
      </div>

      <hr />
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="utterances"></div>
        </div>
      </div>
    </div>
  </article>
</div>
