<article class="blog-post px-3 py-5 p-md-5">
  <div class="container">
    <header class="blog-post-header">
      <h2 class="title mb-2">{{ title }}</h2>
      <div class="meta mb-3">
        <span class="date">Published 3 months ago</span><span class="time">5 min read</span
        ><span class="comment"><a href="#">4 comments</a></span>
      </div>
    </header>

    <div class="blog-post-body">
      <figure class="blog-banner">
        <img class="img-fluid" src="{{ bgImageUrl }}" alt="image" />
        <figcaption class="mt-2 text-center image-caption">
          Image Credit:
          <a href="https://made4dev.com?ref=devblog" target="_blank">
            made4dev.com (Premium Programming T-shirts)</a
          >
        </figcaption>
      </figure>
      <scully-content></scully-content>
    </div>

    <div class="blog-comments-section"></div>
    <!--//blog-comments-section-->
  </div>
  <!--//container-->
</article>
