<article class="blog-post px-3 py-5 p-md-5">
  <div class="container">
    <header class="blog-post-header">
      <h2 class="title mb-2">Why Every Developer Should Have A Blog</h2>
      <div class="meta mb-3">
        <span class="date">Published 3 months ago</span><span class="time">5 min read</span
        ><span class="comment"><a href="#">4 comments</a></span>
      </div>
    </header>

    <div class="blog-post-body">
      <scully-content></scully-content>
    </div>

    <div class="blog-comments-section"></div>
    <!--//blog-comments-section-->
  </div>
  <!--//container-->
</article>
