<div>
  <!-- Page Header -->
  <app-header></app-header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div *ngFor="let link of links$ | async">
          <div class="post-preview">
            <a [routerLink]="[link.route]">
              <h2 class="post-title">
                {{ link.title }}
              </h2>
            </a>
            <p class="post-meta">on {{ link.date }}</p>
          </div>
          <hr />
        </div>

        <!-- Pager-->
        <!-- <ul class="pager">
          <li class="">
            <a href="javascript:void(0)" (click)="previous()" [ngClass]="{ 'd-none': page === 1 }"
              >&larr; Prev</a
            >
          </li>
          <li class="">
            <a href="javascript:void(0)" (click)="next()" [ngClass]="{ 'd-none': itemCount !== 10 }"
              >Next &rarr;</a
            >
          </li>
        </ul> -->
      </div>
    </div>
  </div>
</div>
