<footer class="footer">
  <div class="content has-text-centered">
    <div class="columns">
      <div class="column is-3"></div>
      <div class="column is-6">
        <strong>Bulma - Blog theme</strong> by
        <a href="https://gonzalojs.com">Gonzalo Gutierrez</a>. Based on the
        <a href="http://jigsaw-blog-staging.tighten.co/">jigsaw-blog</a>. The source code is
        licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
      </div>
      <div class="column is-3"></div>
    </div>

    <div class="columns">
      <div class="column"></div>
      <div class="column">
        <a href="https://www.twitter.com/thomascsd" class="block" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>

        <a href="https://github.com/thomascsd" class="block" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>
      <div class="column"></div>
    </div>
  </div>
</footer>
